{% extends "layout.html" %}
{% block title %}
Lens Effectivity Calculation
{% endblock %}
{% block content %}
<h1>Effectivity Calculation</h1>
<div class="form_container">
    <form action="/effectivity" method="POST">
        Sph:<input type="number" id="sphere" step="0.25" placeholder="0.00" name="sphere" required/>
        Cyl:<input type="number" step="0.25" name="cyl" id="cyl" placeholder="-0.00" required/>
        Axis:<input type="number" name="axis" id="axis" placeholder="180" min="1" max="180" required/>
        Testing BVD:<input type="number" name="test_bvd" id="test_bvd" placeholder="12" required/>
        Compensated BVD:<input type="number" name="fit_bvd" id="fit_bvd" placeholder="12" required/>
        <input type="submit" value="submit" />
    </form>
</div>
<hr />

<h1>Compensated Sphere</h1>
<p>{{ comp_power[0] }}</p>

<h1>Compensated Cyl</h1>
<p>{{ comp_power[1] }}</p>

{% endblock %}